.Navbar-button {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 4vh;
}

.Navbar-button:hover {
    cursor: pointer;
    background-color: #2c2a25 !important;
}

.Navbar-button-text {
    padding-left: 20px;
}

.Navbar {
    background-color: #1f2125;
    color: #cfcccd;
    font-weight: bold;
    width: 200px; 
    min-height: 100vh;
    background: #1f2125;
}